body{
 background-image: url("birthday2.jpg");
background-repeat: no-repeat;
background-size: 103%;
    text-align: center;


   
}
.title{
    padding-top: 0%;
    line-height: 40px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif Tahoma, sans-serif;
color: rgb(1, 255, 52);
}
h1{
    font-size: 80px;
    padding: 0%;
}
h2{
    font-size: 80px;
}
#box{
display: flex;

    justify-content: center;
    font-size: 400%;
font-weight: 900;
padding-left: 190px;
color: rgb(0, 255, 225);
  
}

#box5,#box6,#box7,#box8{
   
 display: block;
    background-color: rgb(194, 156, 61);
    margin-right: 40px;
padding: 20px 50px;
border-color: black;
}

#box1,#box2,#box3,#box4{

padding-right: 60px;



}

label{

    margin-right: 40px;
    background-color: rgb(135, 45, 134);
    align-self: center;
    padding: 0 20px;
}
.label1{
    padding: 0 80px;
    
}